*{ box-sizing: border-box; } 

body{ 
    /* 全体の横幅 */
    width: 325px;
    /* 全体を中央寄せ */ 
    margin: auto;
    /* 全体の余白 */ 
    padding: 10px;
    /*背景の色*/
    background: #00b5de; }
    /* 数字 */

body h1{
    margin: auto;
    /* 文字の太さ */ 
    font-weight: 100;
    font-size: 100px;
    /* 文字を中央寄せ */ 
    text-align: center;
    /* 横幅 */
    width: 200px;
    /* 縦幅 */ 
    height: 200px;
    line-height: 200px;
    /* 枠の太さ 線の種類 色 */
    border: 3px solid #d8d8d8;
    /* 枠を丸くする */
    border-radius: 50%;
    color: #edda15;
    }
    /* ボタン共通 */
input{ border: 0;
       background: none;
       display: block;
       margin: auto; 
       width: 80%; 
       text-align: center;
       /* 上との余白 */ 
       margin-top: 20px;
       /* 文字の大きさ */ 
       font-size: 20px; 
     } 
    /* プラスボタン */ 
input[value="+"]{ 
    /* 文字の色 */ 
    color: #d8d8d8; 
    /* 背景 */ 
    background: #e94c4d;
    } 
    /* マイナスボタン */ 
input[value="-"]{ 
    color: #d8d8d8;
    background: #c2ca2e; 
    } 

input[value="clear"]{
    color: #d8d8d8;
    background: #f8b516; 
    }

.fif_whl_thr{
    border-color:#f8b516;
    color:#2a6d39;
}

.fiv_whl_thr{
    border-color:#f8b516;
    color:#ec6c1f;
}

.thr_whl_thr{
    border-color:#f8b516;
    color:#d01026;
}

.whl_thr{
    border-color:#f8b516;
    color:#edda15;
}

.fiv{
    border-color:#d8d8d8;
    color:#ec6c1f;
    
}

.fif{
    border-color:#d8d8d8;
    color:#2a6d39;
}